<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="pics/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/aed89df169.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            font-family: 'Poppins';
            color: white;
        }
        body{
            background-color: #121212;
        }
 
    </style>
</head>
<body>
    <header class="flex items-center justify-between m-5">
        <img class="size-14 rounded-full" src="pics/logo.jpg" alt="logo">
        <h1 class="text-yellow-500 font-medium">ARK VISIONS</h1>
        <button class="flex">
            <a class="bg-yellow-500 p-2 hover:bg-yellow-200 rounded-3xl ease-in-out duration-300 text-xs" href="#">Admin 
                 <i class="fa-solid fa-user  text-yellow-500 rounded-full p-1 bg-black"></i></a>
        </button>
    </header>
    <main class="flex m-5">
        <nav>
            <ul class="text-white bg-zinc-800 max-w-max p-6 rounded-lg font-medium flex-col  ">
                <li class=""><i class="fa-solid fa-border-all"></i><a href="admin.html"> Dashboard</a></li>
                <li class="my-6"><i class="fa-solid fa-users"></i><a href="clients.html"> Clients</a></li>
                <li class="my-6"><i class="fa-solid fa-book"></i><a href="#"> Bookings</a></li>
                <li class=""><i class="fa-solid fa-images"></i><a href="#"> Photo Managment</a></li>
            </ul>
        </nav>
        <div class="m-5 ">
            <h1 class="text-2xl">Users</h1>
            <h2 class="m-5 p-5 rounded-2xl bg-yellow-500 text-black">Latest Updates</h2>

        </div>

    </main>

</body>
</html>