<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/aed89df169.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Ark Vision</title>
</head>
<style>
    *{
        font-family: 'Poppins';
    }
    header{
        background-color: #F6DE03;
    }
    body{
        background-color: #121212;
    }
    header button{
        border: 1px solid black;
    }
    .island{
        font-family: 'Island Moments', cursive;
    }
</style>
<body class="overflow-x-hidden flex flex-col"> 
    <!-- Navigation Bar -->
    <%- include('../partials/client-navbar') %>


    <div class="flex flex-col mt-[150px] px-[15%] gap-10 md:flex-row items-center md:items-start md:justify-center ">
        <div class="fle flex-col gap-5 bg-[#F6DE03] p-4 rounded-[20px] w-fit md:w-1/4 h-fit">
            <div class="flex items-center gap-2">
                <img src="/assets/img/image.png" class="w-[50px] rounded-[100%]">
                <div>
                    <h1 class="text-[12px]">John Michael</h1>
                    <p class="text-[10px]">johnmichaeljonatas@gmail.com</p>
                </div>
            </div>
            <hr class="border-[1px] border-[#121212] mt-5">

            <div class="flex flex-col gap-3">
                <a href="/client/profile" class="flex mt-5 hover:bg-[#121212] hover:text-[#F6DE03] relative p-2 items-center gap-2"><i class="fa-solid fa-user"></i>My Profile <span class="absolute right-2 text-[20px] bottom-1">></span></a>
                <a href="/client/gallery" class="flex bg-[#121212] text-[#F6DE03] relative p-2 items-center gap-2"><i class="fa-solid fa-image"></i>Gallery <span class="absolute right-2 text-[20px] bottom-1">></span></a>
                <a href="#" class="flex hover:bg-[#121212] hover:text-[#F6DE03] p-2 items-center gap-2"><i class="fa-solid fa-power-off"></i>Logout</a>
            </div>
        </div>


        <div class="bg-[#F6DE03] p-4 rounded-[20px] w-fit md:w-3/4 py-10 px-8">
            <h1 class="text-[24px] text-[#121212] font-bold uppercase">Album</h1>
            <hr class="border-[2px] border-[#121212]">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                <img src="/assets/img/image.png" class="w-[200px]">
                <img src="/assets/img/image.png" class="w-[200px]">
                <img src="/assets/img/image.png" class="w-[200px]">
                <img src="/assets/img/image.png" class="w-[200px]">
                <img src="/assets/img/image.png" class="w-[200px]">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/client-footer') %>

    <!-- End of Footer -->

</body> 

</html>