<footer class="px-[10%] pt-8 w-full mt-64 mb-16" style="box-shadow: 0 -5px 5px #f6de032e;">
    <nav class="grid grid-cols-1 md:grid-cols-2 gap-3 lg:grid-cols-3 md:justify-center items-center md:items-start">
        <h1 class="text-[#F6DE03] text-[26px] uppercase font-extrabold text-center md:text-left">Ark Vision</h1>
        <ul class="flex justify-around mb-10 md:mb-0 uppercase items-center">
            <li><a href="/ark/client" class="hover:text-[#F6DE03] text-white">Home</a></li>
            <li><a href="/ark/client/booking" class="hover:text-[#F6DE03] text-white">Booking</a></li>
            <li><a href="/ark/client/profile" class="hover:text-[#F6DE03] text-white">Profile</a></li>
        </ul>
        <div class="flex flex-col gap-3 ml-20">
            <h1 class="text-[#F6DE03] text-[20px]">Want To Get Start</h1>
            <p class="flex items-center text-[15px] text-white mb-5"><img src="/assets/img/Icon.png" class="w-[20px] mr-2">24th Street Kapitan Pepe Phase 2, Cabanatuan City, <br> Philippines, 3100</p>
            <p class="flex items-center text-[15px] text-white mb-5"><img src="/assets/img/Icon (1).png" class="w-[20px] mr-2">044 511-5924</p>
            <p class="flex items-center text-[15px] text-white mb-5"><img src="/assets/img/Icon (2).png" class="w-[20px] mr-2">arkvision@gmail.com</p>
        </div>
    </nav>
</footer>
