<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/assets/img/arklogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>Ark Visions - Forgot Password</title>
</head>
<style>
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(24deg, rgba(0,0,0,1) 4%, rgb(170, 162, 10) 96%);
    height: 100vh;
}
</style>
<body class="flex justify-center items-center">

    <div class="flex justify-center h-screens w-[fit] bg-white rounded-[20px] flex-col sm:flex-row">
        <div><img class="w-[400px]" src="/assets/img/image 3.png" alt="Ark Visions"></div>

        <!-- Form to submit email for password reset -->
        <form action="forgot-password" method="POST" class="p-10 w-[350px] flex flex-col">
            <h1 class="text-[#000000] uppercase font-bold text-[20px] text-center p-2 bg-[#F6DE03] rounded-[10px]">Ark Visions</h1>
            <h1 class="mt-2 font-bold text-[25px]">Forgot Password</h1>
            <p class="mt-3 text-[12px] font-semibold mb-[2px]">Enter your email address to reset your password</p>
            <hr class="border-2 border-[#F6DE03]">

            <!-- Error or success message -->
           
            <!-- Email input -->
            <div class="flex flex-col gap-1 mt-[8px]">
                <label for="email" class="text-[13px] font-bold">Email</label>
                <input type="email" name="email" class="border-[1px] focus:border-[#F6DE03] border-[black] rounded-[10px] p-[5px]" required>
            </div>

            <!-- Reset password button -->
            <button type="submit" class="bg-[#F6DE03] mt-3 w-full self-center rounded-[20px] py-[5px] px-[10%] font-bold text-[14px]">Reset Password</button>

            <p class="mt-3 text-[11px] font-semibold flex gap-2 justify-center">Remembered it? <a href="/ark/login" class="underline text-[#F6DE03]">Login Here</a></p>
        </form>
    </div>
    
</body>
</html>
