<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/assets/img/arklogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Ark Visions/Log in</title>
</head>
<style>
*{
    font: 'Poppins';
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(24deg, rgba(0,0,0,1) 4%, rgb(170, 162, 10) 96%);
    height: 100vh;
}
</style>
<body class="flex justify-center items-center">

    <div class="flex justify-center h-screens w-[fit] bg-white rounded-[20px] flex-col sm:flex-row">
        <div><img class="w-[400px]" src="/assets/img/image 3.png" alt=""></div>

        <form action="/ark/login" method="post"  class="p-10 w-[350px] flex flex-col justify-center">
            <h1 id="easter"
            onclick="easter(); console.log(counter)"
            class="select-none hover:cursor-pointer text-[#000000] uppercase font-bold text-[20px] text-center p-2 bg-[#F6DE03] rounded-[10px] active:mb-2 active:-mt-2 active:shadow-black/55 active:shadow-xl transition-all">Ark Visions</h1>
            <h1 class="mt-2 font-bold text-[25px]">Welcome Back</h1>
            <p class="mt-3 text-[12px] font-semibold mb-[2px]">Please login to your account</p>
            <hr class="border-2 border-[#F6DE03]">
            <div class="flex flex-col gap-1 mt-[8px]">
                <label for="email" class="text-[13px] font-bold">Email</label>
                <input required type="email" name="email" value="<% try{ %>  <%= email %>  <% }catch{} %>"  class="border-[1px] border-[black] rounded-[10px] p-[5px]">
            </div>
            <div class="flex flex-col gap-1 mt-1">
                <label for="password" class="text-[13px] font-bold">
                    Password

                    <% try{ %>
                        <span style="color: red;">
                            <%= message %>
                        </span>
                    <% }catch{} %>
                </label>
                <input required type="password" name="password" class="border-[1px] border-[black] rounded-[10px] p-[5px]">
            </div>

            <div class="flex justify-between items-center mt-3"> 
                <div class="flex items-center">
                    <input type="checkbox" name="remember">
                    <p class="ml-1 text-[12px]">Remember me</p>
                </div>
                

                <a href="/ark/forgot"  class="text-[12px] font-bold underline text-[#121212] cursor-pointer">Forgot Password</a>
            </div>
            <button type="submit" class="bg-[#F6DE03] mt-3 w-fit rounded-[20px] py-[5px] px-[43%] self-center font-bold text-[14px] hover:cursor-pointer hover:bg-transparent hover:text-[#121212] hover:border-[1px] hover:border-[#121212] transition-all duration-200 ease-out hover:ease-in">Login</button>
            <p class="mt-3 text-[11px] font-semibold flex gap-2">Not Registered Yet?<a href="/ark/signup" class="underline text-[#121212] font-bold">Create an Account</a></p>

        </form>
    </div>
    
</body>
</html>

<script>
    let counter = 0;

    function easter() {
        let loop = 3;
        counter++;
        if(counter === 5) {
            document.getElementById("easter").className += " animate-spin";        

            setTimeout(() => {
                window.location.href = 'http://localhost:6969/ark/admin/login';
            }, 2000)
        }
    }
</script>