<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/assets/img/arklogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <title>Ark Visions - Email Verification Success</title>
</head>
<style>
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(24deg, rgba(0,0,0,1) 4%, rgb(170, 162, 10) 96%);
    height: 100vh;
}
</style>
<body class="flex justify-center items-center">

    <div class="flex justify-center h-screens w-[fit] bg-white rounded-[20px] flex-col sm:flex-row">
        <div><img class="w-[400px]" src="/assets/img/image 3.png" alt="Ark Visions"></div>

        <div class="p-10 w-[350px] flex flex-col justify-center">
            <h1 class="text-[#000000] uppercase font-bold text-[20px] text-center p-2 bg-[#F6DE03] rounded-[10px]">Ark Visions</h1>
            <h1 class="mt-2 font-bold text-[25px] text-center">Email Verified!</h1>
            <p class="mt-3 text-[12px] font-semibold text-center">Your email has been successfully verified.</p>
            <p class="text-[12px] text-center mb-5">You can now log in to your account.</p>
            <hr class="border-2 border-[#F6DE03]">

            <div class="flex justify-center mt-3">
                <a href="/ark/login" class="bg-[#F6DE03] mt-3 w-fit self-center rounded-[20px] py-[10px] px-[25%] font-bold text-[14px] hover:cursor-pointer hover:bg-transparent hover:text-[#121212] hover:border-[1px] hover:border-[#121212] transition-all duration-200 ease-out hover:ease-in">Log In</a>
            </div>
        </div>
    </div>
    
</body>
</html>
